@model IEnumerable<Task_3.Models.EmployeeDetailsView>

@{
    ViewBag.Title = "Employee Details";
}

<div class="container mt-4">
    <h2 class="text-primary">Employee Details</h2>

    <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover shadow-sm">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.MiddleName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.DesignationName)</th>
                    <th>@Html.DisplayNameFor(model => model.MobileNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.DOB)</th>
                    <th>@Html.DisplayNameFor(model => model.Salary)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.MiddleName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.DesignationName)</td>
                        <td>@Html.DisplayFor(modelItem => item.MobileNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.DOB)</td>
                        <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary me-2">
        <i class="bi bi-list"></i> Back to Menu
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
